@{
    ViewBag.Title = "News Page";
}

<div class="min-body">
    <table id="newstable" class="table table-hover table-responsive table-striped">
        <h1>新闻</h1>
        <thead>
            <tr>
                <th style="vertical-align: middle;"><input id="all" type="checkbox"></th>
                <th style="vertical-align: middle;">标题</th>
                <th style="min-width:60px;vertical-align: middle;">作者</th>
                <th style="vertical-align: middle;">时间</th>
                <th><button type="button" class="btn btn-default card">删除</button></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><input class="chbox" type="checkbox"></th>
                <td>软件学院五四青年节优秀本科生座谈会</td>
                <td>匿名</td>
                <td>2017/5/5 8:19</td>
                <td>
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default card edit">@Html.ActionLink("编辑", "EditNews", "Home")</button>
                        <button type="button" class="btn btn-default card">删除</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th><input class="chbox" type="checkbox"></th>
                <td>哈利波特与科技节</td>
                <td>匿名</td>
                <td>2017/4/16 21:26</td>
                <td>
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default edit">@Html.ActionLink("编辑", "EditNews", "Home")</button>
                        <button type="button" class="btn btn-default">删除</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th><input class="chbox" type="checkbox"></th>
                <td>软件学院五四青年节优秀本科生座谈会</td>
                <td>匿名</td>
                <td>2017/5/5 8:19</td>
                <td>
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default edit">@Html.ActionLink("编辑", "EditNews", "Home")</button>
                        <button type="button" class="btn btn-default">删除</button>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>
</div>

<div align="center">
    <ul class="linkbutton">
        <li><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
</div>
<script src="@Url.Content("~/Scripts/Layout.js")" type="text/javascript" charset="utf-8"></script>
<script src="@Url.Content("~/Scripts/News.js")" type="text/javascript" charset="utf-8"></script>
@*<script>
    var oEdit = document.getElementsByClassName('edit');
    for (let i = 0; i < oEdit.length; i++) {
        oEdit[i].addEventListener('click', function () {
            console.log('111');
            //window.location.href = 'Edit/EditNews.cshtml';
            //@Html.ActionLink("EditNews", "Edit/EditNews", "Home")
        })
    }
</script>*@




@*@model IEnumerable<TJSSESU_Website.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.department.introduction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.position.posName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.department.introduction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.position.posName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SID }) |
                @Html.ActionLink("Details", "Details", new { id = item.SID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SID })
            </td>
        </tr>
    }

</table>*@
